.card-list {
  list-style: none;
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 111px 130px 0 216px;
    padding-bottom: 50px;
  }
}
