.case-card {
  @media (min-width: @desktop-width) {
    width: 330px;
    background-color: @case-card-background;
    border-radius: 5px;
  }
}

.case-card__image {
  @media (min-width: @desktop-width) {
    width: 290px;
    display: block;
    margin: 20px auto;
  }
}

.case-card__title {
  @media (min-width: @desktop-width) {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    margin-left: 20px;
  }
}

.case-card__content {
  @media (min-width: @desktop-width) {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    opacity: 0.8;
    margin-left: 20px;
  }
}
