.consultation-wrapper {
  @media (min-width: @mobile-width) {
    width: 278px;
    background: linear-gradient(147.62deg, #8d5dcc -128.51%, #55329e 221.38%);
    box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
    border-radius: 3px;
    padding: 30px 0;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background: none;
    box-shadow: none;
    width: 990px;
  }
}

.consultation-wrapper__content {
  @media (min-width: @mobile-width) {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    padding-left: 80px;
    padding-right: 20px;
    margin-bottom: 30px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: @consultation-content-purple;
    padding: 20px;
  }

  &::before {
    @media(max-width: @mobile-width-only) {
      content: "";
      background: url("../../img/love-icon.svg") no-repeat;
      width: 43px;
      height: 43px;
      position: absolute;
      top: 0;
      left: 20px;
    }
  }
}

.consultation-wrapper__link {
  @media (min-width: @mobile-width) {
    color: @text-white;
    border: 3px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    padding: 13px 20px;
    display: block;
    width: 190px;
    text-align: center;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    text-decoration: none;
    color: inherit;
    background: linear-gradient(147.62deg, #8d5dcc -128.51%, #55329e 221.38%);
    box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
    padding: 20px;
  }
}
