.intro-text-wrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: @mobile-width) {
    padding: 30px 20px 23px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 80px 30px 60px 0;
  }
}

.intro-text-wrapper__title {
  @media (min-width: @mobile-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 1px;
  }

  @media (min-width: @desktop-width) {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
  }
}

.intro-text-wrapper__content {
  @media (min-width: @mobile-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
  }
}

.intro-text-wrapper__link {
  color: @text-orange;
  text-decoration: none;
  font-weight: 700;

  @media (min-width: @mobile-width) {
    font-size: 13px;
    line-height: 15px;
  }

  @media (min-width: @desktop-width) {
    font-size: 23px;
    line-height: 28px;
  }
}
