.logos {
  @media (min-width: @mobile-width) {
    order: -1;
    background-color: @text-white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    order: 0;
    background: none;
  }
}

.logos ul {
  list-style: none;
  display: flex;

  @media (min-width: @mobile-width) {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    list-style: none;
    flex-direction: row;
    padding: 0;
    align-items: center;
  }
}
