.offer {
  border: 4px solid @request-description-orange;
  width: 272px;
  color: @text-white;

  @media (min-width: @desktop-width) {
    padding: 10px 50px 10px 50px;
    width: 627px;
  }
}

.offer__title {

@media (min-width: @mobile-width) {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-left: 15px;
  position: relative;
}

  @media (min-width: @desktop-width) {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
  }
}

.offer__title::before {
  @media (min-width: @mobile-width) {
    content: "";
    background-image: url("../../img/offer-plus-icon.svg");
    display: block;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 11px;
    left: 0;
  }
}
