.payment-description {
  @media (min-width: @mobile-width) {
    width: 100%;
    color: @text-white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 600px;
    margin-top: 120px;
  }
}

.payment-description__title {
  @media (min-width: @mobile-width) {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin-top: 0;
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    font-weight: 600;
    font-size: 26px;
    line-height: 41px;
  }
}

.payment-description__content {
@media (min-width: @mobile-width) {
  text-align: center;
}


  @media (min-width: @desktop-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin-top: 40px;
  }
}
