.request-description__content {
  @media (min-width: @desktop-width) {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}

.request-description__title {
  @media (min-width: @desktop-width) {
    font-weight: 700;
    font-size: 41px;
    line-height: 50px;

    color: @request-description-orange;
    margin-bottom: 60px;
  }
}
