.request-section {
  @media (min-width: @mobile-width) {
    background: url("../../img/request-section-mobile-background.png") no-repeat
      top center @intro-black;
  }

  @media (min-width: @desktop-width) {
    background: url("../../img/request-section-background.png") no-repeat top
      center @intro-black;
    color: @text-white;
    min-height: 832px;
    display: flex;
    align-items: center;
  }
}

.request-section__wrapper {
  @media (min-width: @mobile-width) {
    .mobile-blocks-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 30px;
  }
}
